html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.blink-vid {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; bottom: 0; left: 0; right: 0;
}

.background {
  position: absolute;
  
  width: 100%;
  height: 100%;
  top: 0; bottom: 0; left: 0; right: 0;

  z-index: 100;
}
